<% content_for(:active_tab) { 'sessions' } %>

<div class="row">
  <div class="col-6"><h2 class="fs-3">Sessions</h2></div>
  <% if policy(:session).create? %>
    <div class="col-6 d-flex flex-row-reverse">
      <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="<%= "#newSessionModal" %>">
        <%= t('admin.sessions.actions.create') %>
      </button>
      <%= render 'modal_form', id: 'newSession', title: 'New session', session: @session %>
    </div>
  <% end %>
</div>

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Movie</th>
    <th scope="col">Hall</th>
    <th scope="col">Tickets</th>
    <th scope="col">Price</th>
    <th scope="col">Start time</th>
    <% if policy(:session).update? || policy(:session).destroy? %>
      <th scope="col">Actions</th>
    <% end %>
  </tr>
  </thead>
  <tbody class="table-group-divider">
  <% @sessions.each do |session| %>
    <tr>
      <td><%= session.movie.title %></td>
      <td><%= session.hall.name %></td>
      <td><%= link_to 'Tickets', tickets_admin_session_path(session) %></td>
      <td><%= session.price %></td>
      <td><%= session.start_datetime.strftime("%d.%m.%Y %H:%M") %></td>
      <td>
        <%= link_to 'Edit', '#', data: { bs_toggle: 'modal', bs_target: "#editSession_#{session.id}Modal" } if policy(:session).update? %>
        <%= link_to 'Cancel', admin_session_path(session), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } if policy(:session).destroy? %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<% @sessions.each do |session| %>
  <%= render 'modal_form', id: "editSession_#{session.id}", title: "Edit session", session: session %>
<% end %>
