<div data-controller="seats">
  <h2 class="fs-3">Tickets to "<%= @session.movie.title %>" on <%= @session.start_datetime.strftime('%B, %d') %></h2>

  <div class="row">
    <div class="col">
      <p class="fs-4">
        Hall: <%= @session.hall.name %>
      </p>
    </div>
    <div class="col-2">
      <p class="fs-4">
        Selected:
      </p>
    </div>
    <div class="col-2 text-end">
      <button type="button" class="btn btn-dark" data-action="click->seats#bookSeat" data-session-id="<%= @session.id %>">
        Book ticket
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="d-flex justify-content-center mb-3">
        <div class="border border-1 rounded-2">
          <ul class="d-flex showcase m-0 p-1">
            <li class="me-3">
              <div class="ticket seat"></div><span class="text-dark">Available</span>
            </li>
            <li  class="me-3">
              <div class="ticket seat selected"></div><span class="text-dark">Selected</span>
            </li>
            <li>
              <div class="ticket seat booked"></div><span class="text-dark">Occupied</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <div>
          <% @session.seats_data.each.with_index(1) do |(row, seats), row_index| %>
            <ul class="d-flex showcase m-0 p-0">
              <% seats.each do |seat, options| %>
                <li>
                  <% if options['space'] %>
                    <div class="ticket seat space"></div>
                  <% elsif options['booked'] %>
                    <div class="ticket seat booked"></div>
                  <% else %>
                    <div class="ticket seat"
                         data-row="<%= row %>"
                         data-column="<%= seat %>"
                         data-row-number="<%= row_index %>"
                         data-seat-number="<%= options['number'] %>"
                         data-price="<%= @session.price %>"
                         data-action="click->seats#selectSeat">
                    </div>
                  <% end %>
                </li>
              <% end %>
            </ul>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-4" id="selected-tickets"></div>
  </div>
</div>
